<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <title>Create Skill</title>
</head>
<body class="container">
    <h1>Update Skill</h1>
    <form action="/skills?_method=PUT" method="POST" autocomplete="off" class="form-inline">
        <div class="form-group">
            <label for="skill">Name</label>
            <input type="text" class="form-control" name="skill" value="<%= skill.name %> ">
        </div>
        <div class="form-group">
            <label for="difficulty">Difficulty</label>
            <select class="form-control" name="difficulty" value="<%= skill.difficulty %> ">
                <option>Easy</option>
                <option>Medium</option>
                <option>Hard</option>
            </select>
        </div>
        <button type="submit">Update Skill</button>
    </form>
  </body>
</html>